<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /login2/pharmacy_management/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>